<launch>
    <!-- Stage environment -->
    <include file="$(find multi_robot_environment)/launch/empty_world.launch" />
    <include file="$(find multi_robot_environment)/launch/robot_tf.launch" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find deep_rl_navigation)/rviz/deep_rl_navigation.rviz" />
    <!-- Parameters -->
    <rosparam command="load" file="$(find deep_rl_navigation)/config/deep_rl_navigation_params.yaml"/>
    <!-- Multi robot navigation  -->
    <node pkg="deep_rl_navigation" type="test_policy.py" name="test_policy" output="screen"/>
    
</launch>